@font-face {
  font-family: 'Arial GEO';
  src: url('../fonts/ArialGEO.woff2') format('woff2'),
       url('../fonts/ArialGEO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



html {
  font-family: "Arial GEO", sans-serif;
}

button {
  font-family: inherit;
}

.helper-text strong {
  font-weight: 700;
}

.kkal {
  font-size: 3rem;
}

.kkal span {
  font-size: 1.5rem;
}

.recomendation {
  font-size: 1rem;
}

.brand-logo {
  font-size: 1.8rem !important;
}